---
token: rke2Secret123456
loadbalancer_ip: 1.1.1.31
username: devops
ssh_key: ~/.ssh/id_rsa

nodes:
  - name: master-01
    ip: 1.1.1.11
    role: server
  - name: master-02
    ip: 1.1.1.12
    role: server
  - name: master-03
    ip: 1.1.1.13
    role: server

  - name: worker-01
    ip: 1.1.1.21
    role: agent
  - name: worker-02
    ip: 1.1.1.22
    role: agent
  - name: worker-03
    ip: 1.1.1.23
    role: agent

  - name: lb-01
    ip: 1.1.1.31
    role: lb